<div class="main-content">
    <div class="row post-index">
      <% @pictures.each do |picture| %>
        <div class="card post-index--box">
          <%= image_tag picture.image_url, class:'post-index--box__image', alt:"food picture" %>
          <div class="flex-row">
            <%= link_to 'Ver', show_picture_path(picture)%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
