<div class="main-content">

    <div class="row flex-center">
      <div class="flex-column card card--padding">
        <h1>Agregar foto</h1>
        <form class="" action="index.html" method="post">
          <div>
            <label for="title">Título</label>
            <input type="text" name="title" value="">
          </div>
          <div>
            <label for="body">Texto</label>
            <textarea name="body" rows="8" cols="40"></textarea>
          </div>
          <div>
            <label for="url">URL</label>
            <input type="text" name="url" value="">
          </div>
          <div class="flex-row">
            <button class="button action" type="button" name="button">Agregar</button>
            <button class="button alert" type="button" name="button">Eliminar</button>
          </div>
        </form>
      </div>
    </div>

  </div>
