<div class="main-content">

    <div class="row flex-center">
      <div class="flex-row card">
        <img class="post-show--image" src="http://lorempixel.com/500/500/food/7" alt="food picture" />
        <div class="post-show--box flex-column">
          <h1>Título</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="flex-row">
            <button class="button action" type="button" name="button">Agregar</button>
            <button class="button alert" type="button" name="button">Eliminar</button>
          </div>
        </div>
      </div>
    </div>

  </div>