<div class="main-content">

    <div class="row flex-center">
      <div class="flex-row card">
        <img class="post-show--image" src="http://lorempixel.com/500/500/food/7" alt="food picture" />
        <div class="post-show--box flex-column">
          <h1><%= @picture.name %></h1>
          <p>
            <%= @picture.description %>
          </p>
          <div class="flex-row">
            <%= link_to 'Agregar', new_picture_path, class:'button action'%>
            <%= link_to 'Eliminar', delete_picture_path(@picture), method: :delete ,class:'button alert'%>
          </div>
        </div>
      </div>
    </div>

  </div>
